* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* border-radius: 0.7rem; */
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(245deg,  rgb(213, 145, 213) 103%,  rgb(2, 162, 215) 250.12%);
}

